.main {
    display: grid;
    width: 1fr;
    margin: auto;
    height: 100%;
    padding: 2em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto .5fr .5fr;
	grid-gap: 2em;
	color: #666;
}
.table{
	color: #666;
}
.main .jumbotron {
    grid-column: 1/4;
    padding: 2rem 1rem;
    /* color: #4499cc; */
    background: none;
    justify-content: space-between;
}

.main .card {
    background: #fff;
}


.main .card .card-title{ font-weight: 600;}



.main .revenue .card-footer,
.main .expenses .card-footer{
	font-size: 1.6em;
	font-weight: 600;
	background: transparent;
	text-align: right;
} 

.main .revenue,
.main .expenses{
	grid-row: 2/4 ;
}
.main .other .display-4 {
	font-size: 3em;
	font-weight: 600; 
}
.main .other.goal .display-4 {color: var(--success); }
.main .other .title{
	font-size: 1.6em;
	font-style: italic;
	color: #ccc;
}


@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr 1fr;
    }

    .main .jumbotron {
        grid-column: 1/3;
    }
}